body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

div{
  margin: 0 0 30px 0;
}

form{
  max-width: 500px;
  margin: 10px auto;
  background: aliceblue;
  padding: 50px;
}

input{
  display: block;
  margin: 10px 0;
  padding: 4px;
}
#nama, #telepon, #alamat {
  width: 70%; 
}

#birthdate, #tempat-lahir, #pendidikan {
  width: 30%;
}

#tempat-lahir, #pendidikan, #alamat {
  display: block;
  margin: 10px 0;
}

#agama, #hobi {
 display: inline;
 margin-right: 10px;
}

.submit-button,.reset-button {
  padding: 10px 20px;
  display: inline-block;
}

.submit-button {
  background-color: blue;
  color: white;
  border-radius: 10px;
}

.reset-button {
  border-radius: 10px;
}

#islam{
  background-color: blue;
}

.table {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

div .success, div .danger {
  margin: 30px auto;
  padding: 20px auto;
  border: 1px solid dashed;
}
